$bg: #fff;
$fg: #333;

$red: #c2185b;
$orange: #e84;
$green: #2a5;
$blue: #3f51b5;

$narrowWidth: 700px;

$primary: $red;
$link: $blue;
$code: $red;
$focus: complement($primary);

$fontNormal: Helvetica, sans-serif;
$fontParagraph: $fontNormal;
$fontCode: Menlo, Consolas, monospace;

@import "mixins";

* {
    box-sizing: border-box;
}

:focus {
    outline: 6px solid rgba($focus, 0.8);
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: $bg;
    color: $fg;

    font-family: $fontNormal;
}

nav {
    $bg: $primary;
    $fg: white;

    color: $fg;
    background: $bg;
    font-size: 1.2em;
    padding: 0;

    display: block;
    padding: 0 40px;

    .title {
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }

    ul a {
        text-transform: uppercase;
    }

    a {
        @include resetLinks;

        padding: 1.5em 2em;
        display: inline-block;
        margin: 0;
        font-weight: bold;
        font-size: 0.8em;
        border: 1px solid transparent;
        border-top: 0;

        &.focus {
            box-shadow: inset 0 -6px 0 white;
            background: rgba(black, 0.10);
            border-color: rgba(black, 0.05);
        }

        &:hover {
            background: rgba($fg, 0.20);
            color: $fg;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        li {
            display: inline-block;
        }
    }
}


.jumbotron {
    $bg: lighten($primary, 3%);
    $fg: white;

    color: $fg;
    background: $bg;
    font-size: 1.2em;
    padding: 0;
    text-align: center;

    h1 {
        padding: 0;
        margin: 10px;
        font-size: 3em;
    }

    .jumbotron-container {
        padding: 20px 10px;

        a {
            @include resetLinks;

            padding: 8px 16px;
            margin: 0 6px;
            background: rgba(black, 0.10);
            color: white;
            font-weight: bold;
            border: 2px solid rgba(white, 0.6);
            border-radius: 6px;
            display: inline-block;

            &:hover {
                background: $fg;
                color: $bg;
            }
        }
    }
}

.jumbotron-container,
.nav-container {
    margin: 0 auto;
    display: block;
    max-width: $narrowWidth;
}

footer {
    text-align: center;
    margin: 1em;
    color: #777;
    a {
        color: inherit;
    }
}

ul.toc {
    a {
        padding-left: 40px;
        background: none;
        display: block;
        margin: 0;
        padding: 0.3em 0;
        text-decoration: none;
        color: inherit;

        &:focus, &:hover {
            text-decoration: underline;
        }
    }

    li {
        list-style: none;
        margin: 0;
        font-size: 1.6em;
        font-weight: bold;
    }
}

h1, h2, h3 {
    padding-bottom: 10px;

    a {
        color: inherit;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    h1 {
        border-bottom: 2px solid #ccc;
    }

    h2,
    h3 {
        border-bottom: 2px solid #eee;
    }

    ul li {
        margin: 1em 0;
    }

    p {
        line-height: 1.7;

        a {
            @include prettyLinks;
        }
    }

    ol,
    ul,
    p {
        font-size: 1em;
        font-family: $fontParagraph;
    }
}


.chapter-nav {
    background: #eee;
    color: black;
    border-radius: 6px;

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }

    a {
        @include resetLinks;

        padding: 10px 10px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }

        &.prev { float: left; }
        &.next { float: right; }
    }
}

.chapter-number {
    font-weight: bold;
}

main {
    margin: 0 auto;
}

body.wide main {
    padding: 0;
}

body.narrow main {
    max-width: $narrowWidth;
    padding: 20px 10px;
}

.hidden {
    display: none;
}

code {
    @include inlineColored;

    $fg: $code;
    $bg: rgba($fg, 0.04);

    padding: 0 6px;

    color: $fg;
    background: $bg;
    font-family: $fontCode;
    font-weight: bold;
    font-size: 0.9em;
}

pre code {
    $radius: 4px;

    position: relative;

    display: block;
    padding: 0.8em;
    border-radius: $radius;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    overflow-x: auto;
}

.feature-list {
    $gap: 10px;

    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$gap);

    .feature {
        flex: 1 1 300px;
        margin: $gap;

        code {
            // Don't line wrap mid-code in these small sections
            display: inline-block;
        }

        h3 {
            // border: 0;
            margin: 0;
            // padding-bottom: 0;
        }
    }
}


@import "narrow";
@import "workspace";
@import "syntax";
