@mixin diagonalStripes($color1, $color2, $size) {
    background:
        repeating-linear-gradient(
            -45deg,
            transparent,
            transparent $size,
            $color2 $size,
            $color2 (2 * $size)
        ),
        $color1;
}

@mixin inlineColored {
    padding: 2px 4px;
    border-radius: 4px;
}

@mixin borderAndTextColor($c) {
    border-color: $c;
    color: $c;
}

@mixin prettyLinks {
    @include inlineColored;

    text-decoration: none;
    background: rgba($link, 0.06);
    color: $link;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

@mixin resetLinks {
    text-decoration: none;
    color: inherit;
}
