@media screen and (max-width: 450px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: ($narrowWidth + 20px)) {
    nav {
        text-align: center;
        padding: 0;

        .title {
            display: block;
            font-size: 1.5em;
            padding: 10px;
            padding-top: 10px;
        }

        a,
        .title {
            padding-left: 20px;
        }

        a {
            text-align: left;
        }

        a.focus {
            box-shadow: inset 6px 0 0 white;
            background: rgba(black, 0.05);
        }

        ul,
        ul li,
        ul li a {
            display: block;
        }
    }

    pre code {
        font-size: 12px;
    }

    .jumbotron .jumbotron-container {
        .or {
            display: none;
        }

        a {
            display: block;
            margin-top: 1em;
        }
    }
}
