$bg: #fff;
$fg: #333;

$narrowWidth: 600px;

$red: #c24;
$orange: #e84;
$green: #2a5;
$blue: #47c;
$darkBlue: #08a;

$primary: $red;
$link: $darkBlue;
$code: $red;
$focus: complement($primary);

$fontNormal: Helvetica, sans-serif;
$fontParagraph: $fontNormal;
$fontCode: Menlo, Consolas, monospace;

@import "mixins";

* {
    box-sizing: border-box;
}

:focus {
    outline: 6px solid rgba($focus, 0.8);
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: $bg;
    color: $fg;

    font-family: $fontNormal;
}

header {
    $bg: $primary;
    $fg: white;

    color: $fg;
    background: $bg;
    font-size: 1.2em;
    padding: 0;
    box-shadow: 0 0 4px rgba(black, 0.40);
    position: relative;

    .header-container {
        margin: 0 auto;
        display: block;
        max-width: $narrowWidth;
    }

    .title {
        font-weight: bold;
        font-size: 1.2em;
        padding: 4px 20px;
        margin-right: 2em;
        text-decoration: none;
        color: inherit;
    }

    nav {
        display: inline-block;
    }

    .title {
        padding: 0.75em 2em;
    }

    nav a {
        padding: 1.5em 2em;
    }

    nav a {
        @include resetLinks;

        display: inline-block;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;

        transition: background 0.2s, color 0.2s;

        &.focus {
            box-shadow: inset 0 -6px 0 white;
        }

        &:hover {
            background: rgba($fg, 0.20);
            color: $fg;
        }
    }

}

footer {
    text-align: center;
    margin: 1em;
    color: #888;
    a {
        color: inherit;
    }
}

ul.toc {
    li a {
        padding-left: 40px;
        background: none;
        display: block;
        margin: 0;
        padding: 0.3em 0;
        text-decoration: none;
        color: inherit;

        &:focus, &:hover {
            text-decoration: underline;
        }
    }

    li       { font-size: 1.6em; font-weight: bold; }
    ul li    { font-size: 1.2em; font-weight: normal; }
    ul ul li { font-style: italic; }

    li {
        list-style: none;
        margin: 0;
    }
}

h1, h2, h3 {
    padding-bottom: 10px;
}

h1 {
    border-bottom: 2px solid #ccc;
}

h2,
h3 {
    border-bottom: 2px solid #eee;
}

ul li {
    margin: 1em 0;
}

p {
    line-height: 1.7;

    a {
        @include prettyLinks;
    }
}

ol,
ul,
p {
    font-size: 1em;
    font-family: $fontParagraph;
}

.chapter-nav {
    background: #eee;
    color: black;
    border-radius: 6px;

    &:after {
        content: ' ';
        display: block;
        clear: both;
    }

    a {
        @include resetLinks;

        padding: 10px 10px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }

        &.prev { float: left; }
        &.next { float: right; }
    }
}

.chapter-number {
    font-weight: bold;
}

main {
    margin: 0 auto;
}

body.wide main {
    padding: 0;
}

body.narrow main {
    max-width: $narrowWidth;
    padding: 20px 10px;
}

.hidden {
    display: none;
}

code {
    @include inlineColored;

    $fg: $code;
    $bg: rgba($fg, 0.04);

    color: $fg;
    background: $bg;
    font-family: $fontCode;
    font-weight: bold;
    font-size: 0.9em;
}

pre code {
    $bg: #555;
    $fg: #eee;

    display: block;
    padding: 0.8em;
    border-radius: 4px;

    font-weight: normal;
    font-size: 1em;
    line-height: 1.2;
    overflow-x: scroll;

    background: $bg;
    color: $fg;
}

@import "narrow";
@import "workspace";
