$bg: #fff;
$fg: #333;

$fontNormal: Helvetica, sans-serif;
$fontCode: Menlo, Consolas, monospace;

html {
    padding: 20px 10px;
    margin: 0;

    background: $bg;
    color: $fg;

    font-family: $fontNormal;
}

.toc ul li a {
    padding-left: 40px;
}

.toc ul li       { font-size: 1.6em; font-weight: bold; }
.toc ul ul li    { font-size: 1.2em; font-weight: normal; }
.toc ul ul ul li { font-style: italic; }

.toc ul li {
    list-style: none;
}

.toc ul li a {
    display: block;
    margin: 0;
    padding: 0.3em 0;
    text-decoration: none;
    &:focus, &:hover {
        text-decoration: underline;
    }
}

.toc ul li a {
    color: inherit;
}

h1, h2 {
    padding-bottom: 10px;
}

h1 {
    border-bottom: 2px solid #ccc;
}

h2 {
    border-bottom: 2px solid #eee;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.chapter-number {
    font-weight: bold;
}

body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

code {
    color: #222;
    background: #eee;
    font-family: $fontCode;
}

pre code {
    display: block;
    padding: 0.8em;

    line-height: 1.2;

    white-space: pre-wrap;

    background: #444;
    color: #eee;
}
