// Using colors from the Google color guide:
// https://www.google.com/design/spec/style/color.html#color-color-palette

// Handy guide for Pygments cryptic CSS classes:
// https://gist.github.com/scotu/1272660

.highlight {
    $bg: #424252;
    $fg: #EEEEEE;
    $blue: #64B5F6;
    $lightGreen: #9CCC65;
    $yellow: #FDD835;
    $teal: #80CBC4;
    $gray: #BBBBDB;
    $green: #81C784;
    $cyan: #4DD0E1;

    pre code {
        background: $bg;
        color: $fg;
    }

    // .kd = Function
    .kd { color: $lightGreen; font-weight: bold; }

    // .k = Keyword
    .k { color: $blue; font-weight: bold; }

    // .nx = Normal
    .nx { color: $fg; }

    // .p = Punctuation
    // .o = Operator
    .p, .o { color: $gray; }

    // .s = String
    // .s2 = String
    .s, .s2 { color: $yellow; }

    // .no = Named constant
    // .kc = Constant
    // .mi = Number
    .no, .kc, .mi { color: $cyan; }

    // .c = Comment
    // .c1 = Comment
    .c, .c1 { color: $green; }
}
