.workspace {
    @include diagonalStripes(#f4f4f4, rgba(black, 0.02), 2px);

    $border: 1px solid #ccc;
    $gap: 10px;
    $radius: 2px;

    display: flex;
    flex-flow: row wrap;
    padding-right: $gap;
    padding-bottom: $gap;
    border-bottom: $border;

    .CodeMirror {
        font-family: $fontCode;
        font-size: 14px;
        border: $border;
        border-radius: $radius;
    }

    section {
        flex: 1 1 500px;

        margin: $gap;
        margin-bottom: 0;
        margin-right: 0;

        $codeHeight: 350px;

        &.code {
            background: white;
            border-radius: $radius;
        }

        &.code,
        &.code .CodeMirror {
            height: $codeHeight;
        }

        .console,
        .run {
            border-radius: $radius;
        }

        $buttonHeight: 50px;

        .run {
            display: block;
            width: 100%;
            height: $buttonHeight;
            font-size: 1.4em;
            font-weight: bold;
            border-radius: $radius;
            border: 0;
            box-shadow: 0 2px 4px rgba(black, 0.25);
            margin: 0;
            margin-top: $gap;

            &.run {
                background: $blue;
                color: white;
            }

            &:focus {
                outline: 0;
            }
        }

        .console {
            height: ($codeHeight - $buttonHeight - $gap);
            overflow: auto;
            padding: 0;
            background: white;
            resize: vertical;
            border: $border;

            font-family: $fontCode;

            & > * {
                box-shadow: 0 1px 0 0 #ddd;
                padding: 10px 15px;
            }
        }
    }
}

body.wide {
    margin: 0 auto;
    padding: 0;

    nav {
        position: relative;
    }
}
