.workspace {
    $gap: 5px;
    display: flex;
    flex-flow: row wrap;

    .CodeMirror {
        font-family: $fontCode;
        font-size: 12px;
    }

    section {
        flex: 1 1 40%;

        margin: $gap;

        &.code {
            background: #263238;
        }

        .console,
        &.code {
            border: 2px solid #ccc;
            height: 300px;
            border-radius: 4px;
        }

        button.run {
            display: block;
            width: 100%;
            height: 2em;
            font-size: 1.3em;
            border: 0;
            background: $green;
            color: white;
            font-weight: bold;
            border-radius: 4px;

            &:focus {
                outline: 0;
            }
        }

        .console {
            margin-top: ($gap * 2);
            height: 150px;
            overflow: auto;
            padding: 0;
            background: #f8f8f8;
            resize: vertical;

            font-family: $fontCode;

            & > * {
                border-bottom: 1px solid #ddd;
                padding: 10px 15px;
                box-shadow: inset 5px 0 0 #ddd;

                &:last-child {
                    border: 0;
                }
            }
        }
    }
}

body.wide {
    margin: 0 auto;
    padding: 0;
}
