.workspace {
    $gap: 5px;
    display: flex;
    flex-flow: row wrap;

    section {
        flex: 1 1 40%;

        margin: $gap;

        .console,
        &.code {
            border: 2px solid #ccc;
            height: 300px;
            border-radius: 4px;
        }

        button.run {
            display: block;
            width: 100%;
            height: 2em;
            font-size: 1.3em;
            border: 0;
            background: $green;
            color: white;
            font-weight: bold;
            border-radius: 4px;

            &:focus {
                outline: 0;
            }
        }

        .console {
            margin-top: ($gap * 2);
            height: 150px;
            overflow: auto;
            padding: 0;
            background: white;

            font-family: $fontCode;

            & > *:first-child {
                border: 0;
            }

            & > * {
                border-top: 1px solid #eee;
                padding: 10px 15px;
                box-shadow: inset 5px 0 0 #eee;
            }
        }
    }
}

body.wide {
    margin: 0 auto;
    padding: 0;
}
