<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Brian Mock">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
</head>
<body class="{{ page.bodyClass }}">

<header>
Squiggle
</header>

<nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/tutorial">Tutorial</a>
    <a href="{{ site.baseurl }}/try">Try</a>
</nav>

<main>
{{ content }}
</main>

<footer>
&copy; <a href="http://mockbrian.com">Brian Mock</a> 2015
</footer>

</body>
</html>
